
/* merriweather-400normal - latin */
@font-face {
  font-family: 'Cloud-Light';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cloud-Light'),
    local('Cloud-Light'),
    url('./files/Cloud-Light.otf') format('opentype'), /* Super Modern Browsers */
    url('./files/Cloud-Light.ttf') format('ttf'); /* Modern Browsers */
}

/* merriweather-700normal - latin */
@font-face {
  font-family: 'Cloud-Light';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cloud-Bold'),
    local('Cloud-Bold'),
    url('./files/Cloud-Bold.otf') format('opentype'), /* Super Modern Browsers */
    url('./files/Cloud-Bold.ttf') format('ttf'); /* Modern Browsers */
}
