@font-face {
    font-family: 'Mitr';
    src: url('Mitr-Light.woff2') format('woff2'),
        url('Mitr-Light.woff') format('woff'),
        url('Mitr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mitr';
    src: url('Mitr-ExtraLight.woff2') format('woff2'),
        url('Mitr-ExtraLight.woff') format('woff'),
        url('Mitr-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mitr';
    src: url('Mitr-Bold.woff2') format('woff2'),
        url('Mitr-Bold.woff') format('woff'),
        url('Mitr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mitr';
    src: url('Mitr-Regular.woff2') format('woff2'),
        url('Mitr-Regular.woff') format('woff'),
        url('Mitr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mitr';
    src: url('Mitr-Medium.woff2') format('woff2'),
        url('Mitr-Medium.woff') format('woff'),
        url('Mitr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mitr';
    src: url('Mitr-SemiBold.woff2') format('woff2'),
        url('Mitr-SemiBold.woff') format('woff'),
        url('Mitr-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

